<section>
	<h2>Recent transactions</h2>
	<table ng-if="Transactions.getRecent().length > 0">
		<thead>
			<tr>
				<th>Action</th>
				<th>Amount</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="transaction in Transactions.getRecent()">
				<td><i class="fa" ng-class="{ 'fa-plus-circle': transaction.action == 'add', 'fa-minus-circle': transaction.action == 'remove' }"></i></td>
				<td>{{ transaction.amount }} {{ Settings.currency|uppercase }}</td>
				<td>{{ transaction.date | date:medium }} ({{ transaction.date | date:'h:mm a' }})</td>
			</tr>
		</tbody>
	</table>

	<p class="info" ng-if="Transactions.getRecent().length == 0">No transactions found.</p>
</section>

