<nav>
	<a href="#">Home</a>
	<a href="#">Reset</a>
	<a href="#">View source</a>
</nav>

<section>
	<h2>Make a transaction</h2>
	<p>
		<input type="text">
		<button type="button">Add</button>
		<button type="button">Remove</button>
	</p>
</section>

<section>
	<h2>Recent transactions</h2>
	<table>
		<thead>
			<tr>
				<th>Action</th>
				<th>Amount</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
</section>

<section>
	<h2>Grad Total</h2>
	<label>50</label>
</section>
