<section>
	<h2>Make a transaction</h2>
	<p class="error">{{ error }}</p>
	<form name="makeTransaction">
		<fieldset>
			<input type="number" name="amount" ng-model="amount" ng-required="true" ng-pattern="/^\d+$/">
			<button type="button" ng-disabled="makeTransaction.amount.$invalid" ng-click="add()">Add</button>
			<button type="button" ng-disabled="makeTransaction.amount.$invalid" ng-click="remove()">Remove</button>
		</fieldset>
	</form>
	<p class="invalid" ng-show="makeTransaction.amount.$invalid">Please enter only numbers, greater than 0.</p>
</section>

